<h1>Welcome!</h1>
<div class="features">
    <p><i>NEW FEATURES 2/12/2024:
        <ul>
            <li>Home page! Read through the information to learn how the site works.</li>
            <li>Log in status! Create an account or log into an existing one.</li>
        </ul>
    </i></p>
</div>
<p>This is a locally-run recipe finder app. Users can...</p>
<ul>
    <li>...create accounts</li>
    <li>...find recipes</li>
    <li>...save recipes</li>
    <li>...rate saved recipes</li>
</ul>
<p>In the upper right hand corner, you can view your current log-in status. You can click the button to log in or sign up. Or, if you are already logged in, you can log out to secure your information.</p>
<p>On the left hand side of this page (and all other pages), there is a navigation pane.</p>
<ul>
    <li>The <strong>Home</strong> tab will take you back to this main page.</li>
    <li>The <strong>Search</strong> tab will redirect you to a page where you can search for recipes by keyword, ingredient, and country. The recipes displayed are found using The Meal DB, an open crowd-sourced database with a free API. Logged in users have the option of saving selected recipes to their account.</li>
    <li>The <strong>My Recipes</strong> tab will take you to a list of your saved recipes. Here, you can also add a personal rating to your saved recipes as well.</li>
    <li>The <strong>Surprise Me!</strong> tab will randomly generate a recipe from The Meal DB API and present it to you. Perfect for those nights where you just don't know what to make!</li>
</ul>
<p><i>Note: Currently the navigation links are unusable. To be implemented at a later date.</i></p>